<h3>Личные данные</h3>

<div id="<%= dom_id dispatcher %>">
  <p>
    <strong>Имя:</strong>
    <%= dispatcher.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= dispatcher.email %>
  </p>

  <p>
    <strong>Номер телефона:</strong>
    <%= dispatcher.phone %>
  </p>

  <p>
    <strong>Пароль:</strong>
    <%= dispatcher.password %>
  </p>

</div>
