<div id="<%= dom_id dispatcher %>">
  <p>
    <strong>Name:</strong>
    <%= dispatcher.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= dispatcher.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= dispatcher.phone %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= dispatcher.password %>
  </p>

</div>
