<%= form_with(model: dispatcher) do |form| %>
  <% if dispatcher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dispatcher.errors.count, "ошибка") %> невозможно сохранить:</h2>

      <ul>
        <% dispatcher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Имя", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :phone, "Номер телефона", style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :password, "Пароль", style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "Стать диспетчером" %>
  </div>
<% end %>
