<p style="color: green"><%= notice %></p>

<%= render @dispatcher %>

<div>
  <%= link_to "Изменить", edit_dispatcher_path(@dispatcher) %> |
  <%= link_to "Вернуться на главную", root_path %>

  <%= button_to "Удалить", @dispatcher, method: :delete %>
</div>
