<%= form_with(model: trek) do |form| %>
  <% if trek.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trek.errors.count, "ошибка") %> невозможно сохранить</h2>

      <ul>
        <% trek.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :address,"Адрес", style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :store, "Склад", style: "display: block" %>
    <%= form.text_field :store %>
  </div>

  <div>
    <%= form.label :trek_date, "Дата", style: "display: block" %>
    <%= form.date_field :trek_date %>
  </div>

  <div>
    <%= form.label :auto_id,"Автомобиль", style: "display: block" %>
    <%= form.select(:auto_id, ( Auto.active.collect {|t| [ t.title, t.id ] })) %>
  </div>

  <div>
    <%= form.submit "Создать заявку"%>
  </div>
<% end %>
