<%= form_with(model: trek) do |form| %>
  <% if trek.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trek.errors.count, "error") %> prohibited this trek from being saved:</h2>

      <ul>
        <% trek.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :store, style: "display: block" %>
    <%= form.text_field :store %>
  </div>

  <div>
    <%= form.label :trek_date, style: "display: block" %>
    <%= form.date_field :trek_date %>
  </div>

  <div>
    <%= form.label :auto_id, style: "display: block" %>
    <%= form.select(:auto_id, ( Auto.active.collect {|t| [ t.title, t.id ] })) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
