<div id="<%= dom_id trek %>">
  <p>
    <strong>Address:</strong>
    <%= trek.address %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= trek.store %>
  </p>

  <p>
    <strong>Trek date:</strong>
    <%= trek.trek_date %>
  </p>

  <p>
    <strong>Auto:</strong>
    <%= trek.auto.try(:title)%>
  </p>

</div>
