<p style="color: green"><%= notice %></p>

<h1>Ваши заявки</h1>

<%= link_to "Создать заявку", new_trek_path %>

<table border=1>
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :trek_date, "Дата", default_order: :desc) %></th>
      <th scope="col"><%= sort_link(@q, :address, "Адрес", default_order: :asc) %></th>
      <th scope="col"><%= sort_link(@q, :store, "Склад", default_order: :asc) %></th>
      <th scope="col">Водитель</th>
      <th scope="col">Автомобиль</th>
			<th scope="col">Диспетчер</th>
			<th scope="col">Статус</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @treks.each do |trek| %>
      <%= render trek %>
    <% end %>
  </tbody>	
</table>

<%= link_to "Автомобили", autos_path%>
<%= link_to "Водители", drivers_path%>
<br>

<% if logged_in? %>
  <%= link_to "Выйти", logout_path, method: "delete"%>
<% end %>
