<p style="color: green"><%= notice %></p>

<%= render @trek %>

<div>
  <%= link_to "Редактировать", edit_trek_path(@trek) %> |
  <%= link_to "Вернуться ко всем", treks_path %>

  <%= button_to "Удалить", @trek, method: :delete %>
</div>
