<div id="<%= dom_id auto %>">
  <p>
    <strong>Status:</strong>
    <%= auto.status %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= auto.driver.name if auto.driver %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= auto.num %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= auto.mark %>
  </p>

</div>
