<div id="<%= dom_id auto %>">
  <p>
    <strong>Статус:</strong>
    <%= auto.status %>
  </p>

  <p>
    <strong>Водитель:</strong>
    <%= auto.driver.name if auto.driver %>
  </p>

  <p>
    <strong>Номер:</strong>
    <%= auto.num %>
  </p>

  <p>
    <strong>Марка:</strong>
    <%= auto.mark %>
  </p>

</div>
