<%= form_with(model: auto) do |form| %>
  <% if auto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(auto.errors.count, "ошибка") %> невозможно создать</h2>

      <ul>
        <% auto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :status, "Статус",  style: "display: block" %>
    <%= form.select :status, Auto.statuses.keys %>
  </div>

  <div>
    <%= form.label :driver_id, "Водитель", style: "display: block" %>
    <%= form.select(:driver_id, ( Driver.all.collect {|t| [ t.name, t.id ] }) + ["",nil] ) %>
  </div>

  <div>
    <%= form.label :num, "Номер", style: "display: block" %>
    <%= form.text_field :num %>
  </div>

  <div>
    <%= form.label :mark, "Марка", style: "display: block" %>
    <%= form.text_field :mark %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
