<p style="color: green"><%= notice %></p>

<%= render @auto %>

<div>
  <%= link_to "Редактировать", edit_auto_path(@auto) %> |
  <%= link_to "Вернуться ко всем", autos_path %>

  <%= button_to "Удалить", @auto, method: :delete %>
</div>
