<p style="color: green"><%= notice %></p>

<%= render @driver %>

<div>
  <%= link_to "Редактировать", edit_driver_path(@driver) %> |
  <%= link_to "Вернуться ко всем", drivers_path %>

  <%= button_to "Удалить водителя", @driver, method: :delete %>
</div>
